yfinance
streamlit
streamlit-metrics
streamlit_authenticator
pandas
plotly
investpy
pandas_datareader
numpy
matplotlib
yahoo_fin
keras
tensorflow
sklearn
nltk
urllib3
bs4
prophet
PyJWT
bcrypt
PyYAML >= 5.3.1
extra-streamlit-components
